.pending-petitions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.petition {
    margin-top: 5px;
}

.petitions-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40%;
}

.accept-petition-button, .reject-petition-button {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.reject-petition-button {
    background-color: brown;
}

.accept-petition-button {
    background-color: royalblue;
}

.customer-activity {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
}