.my-sessions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /*width: 30%;
    margin-left: 35%;*/
    margin-top: 30px;
    margin-bottom: 50px;

    max-height: 9000px;
}

.my-session-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid;
    border-radius: 5px;
    min-width: 360px;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
}

.mysession-group {
    margin-top: 20px;
}