.navbar {
  width: 100%;
  background-color: black;
}

.navbar-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.top-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-left: 45px;
  margin-right: 45px;
  cursor: pointer;
}

.top-link:hover {
  font-weight: bold;
  color: white;
}

.home-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-menu-hidden {
  cursor: pointer;
  position: absolute;
  left: 95px;
}