.ru-form-container {
  width: 65%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  margin-bottom: 20px;
}

.ru-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
}

.info-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  height: 80%;
  width: 65%;
  margin-top: 13%;
}

.sessions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.day-session {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}