.re-form-container {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);   
}

.register-form {
  min-width: 500px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin-left: 5%;
}

.form-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-input, .info-input {
  width:90%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
}

.info-input {
  width: 50% !important;
  margin-left: 20%;
}

.date-row, .role-row {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.show-errors {
  position: absolute;
  top: 0 !important;
}

.no-button {
  border: none;
  background-color: inherit;
}